/**
 * Global Settings
 */
:root {
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    display: block;
    height: 0;
    letter-spacing: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    text-rendering: optimizeLegibility;
}

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.25em;
    margin-bottom: 0.25em;
}

h1 {
    font-size: 2rem;
}
@media (min-width: 768px) {
    h1 { font-size: 2.5rem; }
}
@media (min-width: 992px) {
    h1 { font-size: 3rem; }
}

h2 {
    font-size: 1.625rem;
}
@media (min-width: 768px) {
    h2 { font-size: 2rem; }
}
@media (min-width: 992px) {
    h2 { font-size: 2.25rem; }
}

h3 {
    font-size: 1.375rem;
}
@media (min-width: 768px) {
    h3 { font-size: 1.5rem; }
}
@media (min-width: 992px) {
    h3 { font-size: 1.75rem; }
}

h4 { font-size: 1.125rem; }

p { font-size: 1rem; }   



/**
 * Button
 */
.btn {
    background-color: #e0e0e0;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    color: rgba(0,0,0,1);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    margin-bottom: 12px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}
.btn, .btn:active, .btn:focus {
    outline: 0;
}
.btn > .fab, .btn > span {
    display: inline-block;
    pointer-events: none;
}
.btn>.fab+span, .btn>span+.fab {
    margin-left: 3px;
}

/* Button - Sizes */
.btn--sm {
    padding: 0 7px;
    font-size: 14px;
    height: 24px;
}
.btn--lg {
    padding: 0 15px;
    font-size: 16px;
    height: 40px;
}
.btn--block {
    width: 100%;
}

/* Button - Disabled */
.btn.disabled, .btn[disabled] {
    cursor: not-allowed;
}
.btn.disabled, .btn[disabled],
.btn.disabled:hover, .btn[disabled]:hover, 
.btn.disabled:focus, .btn[disabled]:focus, 
.btn.disabled:active, .btn[disabled]:active, .btn.disabled.active, .btn[disabled].active {
    color: rgba(0,0,0,0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/**
 * Layout
 */
.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 0;
    min-height: 100%;
}
.app-header {
    position: relative;
    z-index: 10;
}
.app-main {
    -webkit-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    position: relative;
}
.app-footer {
    position: relative;
    z-index: 9;
}